.root {
    -fx-background-color: #f1ebeb;
}
#header {
    -fx-background-color:  #b3742d;
}
#header_content {
    -fx-font : bold 28px Constantia;
    -fx-text-fill: #4e0f0f;
}
#btn_ok {
    -fx-background-color: #444242;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}
#vieWord {
    -fx-background-color:  #c0c4c1;
    -fx-font : bold 24px sans-serif;
    -fx-text-fill: #1f1d1d;
    -fx-padding: 0px 15px;
}
#feature {
    -fx-background-color: #c0c4c1;


}
#description {
    -fx-background-color: white;
    -fx-font : 18px arial;
}
#layout_update {
    -fx-background-color: white;
    -fx-font : 16px arial;
}
#btn_up_ok {
    -fx-background-color: #444242;
    -fx-text-fill: white;
}

